html {
    font-family:Verdana;
    background-color: black;
    text-align: center;
}

.title {
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

a {
    color:aquamarine;
    font-size: 16px;;
}

.travel {
    color:gray;
    font-size: 42px;
    font-weight: 300px;
}

.ex {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
}